<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>

*{color:#111111;}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px 10px;
    text-align: left;    
}
</style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #034f84;" >
        <div class="container-fluid" style="background-color: #034f84;">

            <div class="navbar-header">
                
                <a  href="temp.html">
                    <img src="ipl.jpg"  style="height: 50px;width: 60px;"> 
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="temp.html" style="background-color: #034f84;color: #fff;">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="signup.html" style="color: #fff;"><span class="glyphicon glyphicon-user" style="color: #fff;"></span> Sign Up</a></li>
                <li><a href="login.html" style="color: #fff;"><span class="glyphicon glyphicon-log-in" style="color: #fff;"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
    <br><br>
    <div class="col-sm-4 col-sm-offset-4">
    	<h1>SRH vs KXIP</h1>
        <strong>20:00 IST(14:30 GMT) , 26th April 2018</strong>
        <br>
        <p>
        <strong>Match 26</strong>
        Rajiv Gandhi Intl. Cricket Stadium,Hyderabad</p>
    </div>
    <br>
    <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
	    <table style="width:100%">
	    <div class="col-sm-4 col-sm-offset-4">
	  	<caption class="col-sm-offset-4"><strong><h3
	  		>Ticket Description</h3></strong></caption>
	    </div>
	  	<tr>
	    	<th style="background-color:#034f84;color: #fff;">Stand Name</th>
	    	<th colspan="3" style="background-color:#034f84;color: #fff;">Tier 1</th>
	    	<th colspan="3" style="background-color:#034f84;color: #fff;">Tier 2</th>
		</tr>
		<tr>
			<th style="background-color:#034f84;color: #fff;"></th>
			<th>Availabilty</th>
			<th>Price</th>
			<th>No. of Tickets</th>
			<th>Availabilty</th>
			<th>Price</th>
			<th>No. of Tickets</th>
		</tr>
		<tr>
		    <td style="background-color:#034f84;color: #fff;">North</td>
		    <td>500</td>
		    <td>1800/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		    <td>500</td>
		    <td>1200/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		</tr>
		<tr>
		    <td style="background-color:#034f84;color: #fff;"> North-east </td>
		    <td>0</td>
		    <td>NA</td>
		    <td><form>
		    	<fieldset disabled="disabled">
		    		<input type="text" class="form-control" id="ID" placeholder="No Tickets">
		    	</fieldset>
		    	
		    </form>
			</td> 
		    <td>300</td>
		    <td>4000/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		</tr>
		<tr>
		    <td style="background-color:#034f84;color: #fff;">East </td>
		    <td>500</td>
		    <td>1800/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		    <td>500</td>
		    <td>1200/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		</tr>
		<tr>
		    <td style="background-color:#034f84;color: #fff;">South-East</td>
		    <td>500</td>
		    <td>1100/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		    <td>500</td>
		    <td>800/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		</tr>
		<tr>
		    <td style="background-color:#034f84;color: #fff;"> South </td>
		    <td>500</td>
		    <td>1600/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		    <td>500</td>
		    <td>1200/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		</tr>
		<tr>
		    <td style="background-color:#034f84;color: #fff;">South-West </td>
		    <td>0</td>
		    <td>NA</td>
		    <td><form>
		    	<fieldset disabled="disabled">
		    		<input type="text" class="form-control" id="ID" placeholder="No Tickets">
		    	</fieldset>
		    	
		    </form>
			</td> 
		    <td>300</td>
		    <td>4000/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		</tr>
		<tr>
		    <td style="background-color:#034f84;color: #fff;">West</td>
		    <td>500</td>
		    <td>1800/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		    <td>500</td>
		    <td>1200/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		</tr>
		<tr>
		    <td style="background-color:#034f84;color: #fff;"> North-West</td>
		    <td>500</td>
		    <td>1100/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		    <td>500</td>
		    <td>800/-</td>
		    <td><div class="form-group">
								
								<input type="text" class="form-control" id="ID" placeholder="No.of Tickets">
							</div></td>
		</tr>
		</table>
	</div>
	</div>
	<br>
	<div class="col-sm-2 col-sm-offset-9"><a href="pay26.html"  type="button" id="button" class="btn btn-primary btn-block btn-block login-button">Generate Tickets</a> </div>
	<div class="row"></div>
	<br>
</body>
</html>