<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
*{color:#111111;}

.bg
{
    background:#fff;
}

.form-container{border:2px solid #000000;padding:30px 50px;margin-top:20vh;

</style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #034f84; position: fixed;width: 100% ;overflow: hidden;" >
        <div class="container-fluid" style="background-color: #034f84;">

            <div class="navbar-header">
                
                <a  href="temp.html">
                    <img src="ipl.jpg"  style="height: 50px;width: 60px;"> 
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="temp.html" style="background-color: #034f84;color: #fff;">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="signup.html" style="color: #fff;"><span class="glyphicon glyphicon-user" style="color: #fff;"></span> Sign Up</a></li>
                <li><a href="login.html" style="color: #fff;"><span class="glyphicon glyphicon-log-in" style="color: #fff;"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div class="col-sm-7 col-sm-offset-3">
        <div class="form-container">
            <div class="row">
                <div class="col-sm-11">
                    <img src="srh.png" style="width: 200px;height: 140px;">
                    <strong>&nbsp; vs &nbsp;</strong>
                    <img src="csk.png" style="width: 200px;height: 140px;">
                    <br>
                    <div class="col-sm-offset-6">
                        <strong>16:00 IST(10:30 GMT) , 22nd April 2018</strong>
                        <br>
                        <strong>Rajiv Gandhi Intl. Cricket Stadium, Hyderabad</strong>
                    </div>
                    <div style="font-size: 18px;">
                    <p style="font-size: 20px;"><strong>Gate 10 &emsp;</strong>
                    
                    <strong>Seat 50 &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Match 20</strong>

                    </p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <img src="barcode.png" style="width: 70px;height: 250px;">
                </div>    
         </div>
    </div>
</div>
</body>
</html>
