{% load staticfiles %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

<style>
    *{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: #111111; 
    }
    .abc
    {
        border-left: 50px ;
        border-right: 50px;
    }
    .bg
    {
        background: #fff;
    }
    .p
    {
        margin: 0;
        padding: 0;
    }
    .fstyle
    {
        font-weight: bold;
        font-size: 18px;
    }
    .well
    {
        height: 100px;
    }
</style>

</head>

<body>
    {% if matchlist %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            <!--<li><a href="login.html">Login</a></li>-->
            <li class="active"><a href="/home/">Home</a></li>
            <li CALSS="active"><a href="#">List of Upcoming Matches</a></li>
            
            <!--<li><a href="register.html">Register</a></li>-->
            {% if request.user.is_authenticated %}
           <li><a href="#">Welcome {{request.user.username}}</a></li>
           <li><a href="/logout/">Logout</a></li>
           {% else %}
           <li><a href="/login/">Sign In</a></li>
           <li><a href="/signup/">Register</a></li>
           {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br> 
    <br>
    <br>
    <br>

    {% for match in matchlist %}
    <h3>&emsp;{{match.day}},<strong>{{match.match_date.date}}</strong></h3>  
      
    <div class="container-fluid ">
        <div class="row">
            <div class="col-sm-12 abc">
                <div class="well bg">
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>{{match.match_date.time}} IST(14:30 GMT)</strong>
                            <br>
                            <p>
                            <strong>Match {{match.match_no}}</strong>
                            Rajiv Gandhi Intl. Cricket Stadium,Hyderabad</p>
                        </div>
                        <div class="col-sm-7 ">
                            <strong class="fstyle">{{match.team1}}&emsp;</strong>
                     <!-- <img src="{% static "images/srh.jpg" %}" style="width: 80px;height: 60px;">comment-->  
                          <img src="{% static match.image1.name %}" style="width: 80px;height: 60px;">
                            <strong>&nbsp; vs &nbsp;</strong>
                            <img src="{% static match.image2.name %}" style="width: 80px;height: 60px;">
                            <strong class="fstyle"> &emsp; {{match.team2}}</strong>
                        </div>
                        <div class="col-sm-1">
                            <br>
                            
                         
                        </div>
                    </div>
                </div>
            </div>    
      </div>
    </div>
    {%endfor%}

    {% else %}
        <h3>No records to show</h3>
    {% endif %}


</body>
</html>